
ul.social_media_icons {margin: 0; padding: 0; display: block;}
ul.social_media_icons li {list-style: none; list-style-image: none; }

ul.inline li {float: left; padding: 0; }
ul.list li {display: list-item; padding: 5px; }

