ul.social_media_icons li a { width: 49px; height: 49px; display: block; }
ul.social_media_icons li {margin: 3px 3px;}

li.twitter_icon a {background: url('images/icon-twitter.png'); background-repeat: no-repeat; }
li.facebook_icon a {background: url('images/icon-facebook.png'); background-repeat: no-repeat; }
li.linkedin_icon a {background: url('images/icon-linkedin.png'); background-repeat: no-repeat; }


